@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --color-white: #f5f5f5;
    --color-gray-light: #fdfdfd;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #374151;
    --color-gray-3: #76787d;
    --color-red: #e31f24;
    --color-black: #333333;
}
body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
}
body * {
    scrollbar-color: var(--color-gray-2) var(--color-gray-1);
    scrollbar-width: thin;
}
body *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

body *::-webkit-scrollbar-track {
    background-color: var(--color-gray-1);
    border-radius: 5px;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.05);
}

body *::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-2);
    border-radius: 5px;
}
p {
    margin: 0;
    padding: 0;
    text-align: left;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
}
.semibold-text {
    font-weight: 600;
    font-style: normal;
}
.bold-text {
    font-weight: 700;
    font-style: normal;
}
.fs-16px {
    font-size: 16px;
}
.text-color-gray-3 {
    color: var(--color-gray-3);
}
